.contact {
  @include main-section;

  &__title {
    @include section-title;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }
}