* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-main;
  background-color: $color-dark;
  color: $color-light;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: get-opacity($color-main, 0.4);
    border-radius: 4px;

    &:hover {
      background: get-opacity($color-main, 0.8);
      box-shadow: 0 0 2px 2px get-opacity($color-dark, 0.2);
    }

    &:active {
      background-color: $color-main;
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }
}

::selection { 
  background: $color-main;
  color:$color-dark;
  -webkit-text-fill-color: $color-dark;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: $font-main;
}

main {
  overflow: hidden;
}

textarea {
  font-family: $font-main;
}

// This is necesary for solved a bug with tsparticles that not run the option of select the text
#tsparticles canvas {
  pointer-events: none !important;
}