* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-main;
  background-color: $color-dark;
  color: $color-light;
  scroll-behavior: smooth;
}

::selection { 
  background: $color-main;
  color:$color-dark;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: $font-main;
}

main {
  overflow: hidden;
}

// This is necesary for solved a bug with tsparticles that not run the option of select the text
#tsparticles canvas {
  pointer-events: none !important;
}